asttokens==3.0.0
cmasher==1.9.2
colorspacious==1.1.2
contourpy==1.3.3
cycler==0.12.1
Cython==3.1.2
decorator==5.2.1
diffrax==0.7.0
dynamiqs==0.3.3
equinox==0.13.0
executing==2.2.0
fonttools==4.59.0
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jax==0.7.0
jaxlib==0.7.0
jaxtyping==0.3.2
jedi==0.19.2
kiwisolver==1.4.9
lineax==0.0.8
matplotlib==3.10.5
matplotlib-inline==0.1.7
ml_dtypes==0.5.3
numpy==2.3.2
opt_einsum==3.4.0
optimistix==0.0.10
packaging==25.0
parso==0.8.4
pexpect==4.9.0
pillow==11.3.0
prompt_toolkit==3.0.51
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
qutip==5.2.0
qutip-jax==0.1.1
scipy==1.16.1
six==1.17.0
stack-data==0.6.3
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.14.1
wadler_lindig==0.1.7
wcwidth==0.2.13
